@import url('./common.css');
@import url('./reset.css');



header {
    background-image: url(../img/toptop.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 880px;
  
    

}

header .discount_offer {
    background: rgba(13, 51, 22, 1);
    font-family: 'Helvetica', 'Arial', sans-serif;
    padding: 3px 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;

}

header .discount_offer span {
    display: block;
    text-decoration: underline;
    color: white;
    font-size: 12px;
    text-align: center;


}


header .gnb_icon {
    overflow: hidden;
    


}

header .gnb_icon h1 {
    float: left;
    background-color: yellow;
    width: 90px;
    height: 33px;
    top: 38px;
    left: 30px;
    position: fixed;
    z-index: 999;
  
    


}

header .gnb_icon .gnb {
    float: left;
    width: 100%;
    z-index: 999;
    
 
    
}

.gnb::after {
    content: '';
    clear: both;
    display: block;
}

header .gnb_icon .gnb .title {
    position: fixed;
    z-index: 999;
    top: 38px;
    left: 0;
    right: 0;
    width: 70vw;
    margin: auto;
    
    
  
}


header .gnb_icon .gnb .title a {
    float: left;
    margin-right: 90px;
    display: inline-block;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    
    height: 100%;
  
    line-height: 28px;
    
}
header .gnb_icon .gnb .title a:hover {
text-decoration: underline;


}


header .gnb_icon .gnb .title a:last-child {
    margin-right: 0;
}

header .gnb .sub_menu{
    /* visibility: hidden; */
    width: 100%;
    z-index: 998;
    
    position: relative;
    background: white;
    
}
header .gnb .sub_menu>li{
  position: absolute;
  width:70%;
  left: 50%;
  transform: translateX(-50%);
  padding: 0 10%;
  box-sizing: border-box;
  text-align: center;
  font-weight: bold;
  
  
   
 
   
}
#women .sub_list>li,
#men .sub_list>li{
    font-weight: normal;
}
#women .sub_list h3,
#men .sub_list h3{
    font-weight: bold;
}
header .gnb .sub_menu .sub_list{
    display: inline-block;
     vertical-align: top;
     margin-left: 25%;
     font-size: 18px;
     padding: 30px 0;
     line-height: 1.5;
     text-align-last: left;
    }
header .gnb .sub_menu .sub_list:first-child{
 margin-left: 0;
 
   
    
}
header .gnb .sub_menu .sub_list h3{
  font-size: 20px;
  
    
}


header .gnb .sub_menu>li.on {
   
    /* visibility: hidden; */
    position: fixed;
    color: rgba(13, 51, 22, 1);
    width: 100%;
    z-index: 998;
    background: white;
    padding-top: 83px;
}
header .gnb .sub_menu>li.on .sub_list li:hover {
   text-decoration: underline;

}

#women {
    height: 375px;

}

#men {
    height: 323px;
}

#bedding,
#bath {
    height: 250px;

}

#journal{
    height: 470px;
}

#sustain{
    height: 350px;
}

header .gnb_icon .icons {
    overflow: hidden;

    display: inline-block;

}




header .gnb_icon .icons .cart,
header .gnb_icon .icons .search{
    float: left;
    right: 60px;
    top: 38px;
    width: 22px;
    height: 22px;
    
    position: fixed;
    z-index: 999;
}

header .gnb_icon .icons .search {
    margin-right: 40px;
}

header .sc_visual {
    width: 100%;
    height: 100%;
}

header .sc_visual .text_wrap {
    width: 100%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

header .sc_visual .text_wrap p {
    font-size: 120px;
}

header .sc_visual .text_wrap span {
    display: block;
    font-size: 50px;
    margin-top: 70px;
}

footer{
    width: 100vw;
    margin-top: 10vh;
    padding-top: 5vh;
    background: white;
    font-weight: bold;
}
footer .inner{
    padding: 0 5vw;
    
    overflow: hidden;
}

footer .inner>div{
    float: left;
    width: 25%;
    color: rgba(13,51,22,1);
    font-size: 20px;
}
footer .inner .info .address{
    font-size: 20px;
}
footer .inner .info .address p{
    
    margin-bottom: 5px;
}
footer .inner .info .payment{
 
}
footer .inner .info .payment .pay_wrap{
    overflow: hidden;
    width: 300px;
    height: 57px;
    padding-top: 15px;
}
footer .inner .info .payment .pay_wrap a{
    float: left;
    display: inline-block;
   
    margin-left: 3px; 
}
footer .inner .info .payment .pay_wrap a i{
    display: block;
    width: 40px;
    height: 24px;
    background: #000;
}

footer .inner .info .follow .follow_wrap{
    width: 180px;
    overflow: hidden;
    margin-top: 5px;
}
footer .inner .info .follow .follow_wrap a{
    display: block;
    float: left;
    margin-right: 20px;
    width: 18px;
    height: 18px;
}
footer .inner .info .follow .follow_wrap a img{
 
  width: 100%;
  display: block;
  height: 100%;
}

footer .inner .policy p,
footer .inner .imformations p{
    margin-bottom: 38px;
}
footer .inner .policy p a{
    display: block;
   
}

footer .inner .policy a span,
footer .inner .imformations a span{
    display: block;
    font-size: 14px;
    text-align: left;
    margin-top: 18px;
}


footer .inner .mark a{
    display: block;
    width: 110px;
    height: auto;
}
footer .inner .mark a img{
    width: 110px;
    height: 110px;
    display: block;
    background: #000;
    margin-left: 10vw;
    
}
footer .footer_copy{
    color: rgba(255,255,255,1);
    width: 100vw;
    font-size: 13px;
    background: rgba(13,51,22,1);
    margin-top: 15vh;
    text-align: center;
    padding-top: 5vh;
    padding-bottom: 5vh;
}
