@import url('./common.css');
@import url('./reset.css');


/* eot -iE호환 
woff - 모던 브라우저(요즘 브라우저)
woff2 - woff에서 20%압축된거
ttf -디자이너가 주는 원본파일 */


@font-face {
    font-family: 'decay';
    src: url('../font/decay-white.woff2') format('woff2');
    /* Super Modern Browsers */
    font-weight: 400
}

@font-face {
    font-family: 'NewYork';
    src: url('../font/decay-white.woff2') format('woff2');
    /* Super Modern Browsers */
    font-weight: 400
}

body {
    font-family: 'NewYork', sans-serif;
    min-width: 1400px;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;

}

header .discount_offer {
    background: rgba(13, 51, 22, 1);

    padding: 7px 0;
    text-decoration: underline;
    text-align: center;
    color: white;
    font-size: 12px;
}

.gnb_icon.on {
    background: white;
    color: rgba(13, 51, 22, 1);
}


header .gnb_icon {
    position: relative;
    height: 50px;
    background: none;
    color:white;
}



header .gnb_icon .logo {

    background-color: yellow;
    width: 90px;
    height: 33px;
    top: 8px;
    left: 30px;
    position: absolute;
}

header .gnb_icon .icons {
    top: 8px;
    right: 30px;
    position: absolute;

}

header .gnb_icon .icons a {
    float: left;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    background: red;

}


header .gnb {
    text-align: center;
    position: relative;
    z-index: 1;
}

header .gnb nav{
 
}

header .gnb .title {
    display: inline-block;
    text-align: center;
}

header .gnb .title::after {
    content: '';
    clear: both;
    display: inline-block;
}

header .gnb .title>li {
    float: left;
    padding: 0 60px;
    font-weight: bold;
  
    
}

header .gnb .title>li>a {
    display: block;
    line-height: 50px;

}


header .gnb .title .sub {
    position: absolute;
    top: 50px;
    overflow: hidden;
    left: 0;
    
    width: 100%;
    transform: translateY(-100px);
    opacity: 0;
    visibility: hidden;
    z-index: 1;
    color: rgba(13, 51, 22, 1);
    text-align: center;
   
}

header .gnb .title .sub .sub_list {
    float: left;
    display: inline-block;
    text-align: center;
    width:384px;
}
header .gnb .title .sub .sub_list li {
 margin: 20px;
display: block;
text-align: left;
}
header .gnb .title .sub .sub_list li h3{
   font-weight: bold;
   font-size: 20px;
}
header .gnb .title .sub .sub_list li:first-child{
   font-weight: bold;
}

header .gnb .title .sub.on {
    visibility: visible;
    transform: translateY(0);
    opacity: 1;
    background: #fff;
}

.menu_bg {
    position: absolute;
    width: 100%;
    height: 600px;
    
    top: 50px;
    left: 0;
    visibility: hidden;
    opacity: 0;
}

.menu_bg.on {
    visibility: visible;
    opacity: 1;
    background: #fff;
}



.gnb::after {
    content: '';
    clear: both;
    display: block;
}





footer {
    width: 100%;
    margin-top: 100px;
    padding-top: 50px;
    background: white;
    font-weight: bold;
}

footer .inner {
    padding: 0 50px;

    overflow: hidden;
}

footer .inner>div {
    float: left;
    width: 25%;
    color: rgba(13, 51, 22, 1);
    font-size: 20px;
}

footer .inner .info .address {
    font-size: 20px;
    margin-bottom: 40px;
}

footer .inner .info .address address {

    margin: 10px 0 20px;
}

footer .inner .info .payment {
    margin-bottom: 40px;
}

footer .inner .info .payment .pay_wrap {
    overflow: hidden;
    width: 300px;
    height: 57px;
    padding-top: 15px;
}

footer .inner .info .payment .pay_wrap a {
    float: left;
    display: inline-block;

    margin-left: 3px;
}

footer .inner .info .payment .pay_wrap a i {
    display: block;
    width: 40px;
    height: 24px;
    background: #000;
}

footer .inner .info .follow .follow_wrap {
    width: 180px;
    overflow: hidden;
    margin-top: 10px;
}

footer .inner .info .follow .follow_wrap a {
    display: block;
    float: left;
    margin-right: 20px;
    width: 18px;
    height: 18px;
    background: Red;
}

footer .inner .info .follow .follow_wrap a img {

    width: 100%;
    display: block;
    height: 100%;
}

footer .inner .policy p,
footer .inner .imformations p {
    margin-bottom: 38px;
}

footer .inner .policy p a {
    display: block;

}

footer .inner .policy a span,
footer .inner .imformations a span {
    display: block;
    font-size: 14px;
    text-align: left;
    margin-top: 18px;
}


footer .inner .mark a {
    display: block;
    width: 110px;
    height: auto;
}

footer .inner .mark a img {
    width: 110px;
    height: 110px;
    display: block;
    background: #000;
    margin-left: 10vw;

}

footer .footer_copy {
    color: rgba(255, 255, 255, 1);
    width: 100vw;
    font-size: 13px;
    background: rgba(13, 51, 22, 1);
    margin-top: 15vh;
    text-align: center;
    padding-top: 5vh;
    padding-bottom: 5vh;
}