@import url('./common.css');
@import url('./reset.css');


/* eot -iE호환 
woff - 모던 브라우저(요즘 브라우저)
woff2 - woff에서 20%압축된거
ttf -디자이너가 주는 원본파일 */



@font-face {
    font-family: 'NotoSansKR';
    src: url('../font/NotoSansKR-Regular.woff2') format('woff2');
     /* Super Modern Browsers */
     font-weight: 400
}
@font-face {
    font-family: 'NotoSansKR';
    src: url('../font/NotoSansKR-Medium.woff2') format('woff2');
     /* Super Modern Browsers */
     font-weight: 500
}

@font-face {
    font-family: 'NotoSansKR';
    src: url('../font/NotoSansKR-Bold.woff2') format('woff2');
     /* Super Modern Browsers */
     font-weight: 700
}


body {
    font-family: 'Noto Serif Display','NotoSansKR',sans-serif;
    min-width: 1320px;
}

header {
    min-width: 1320px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;

}

header .discount_offer {
    background:#C2722E;
    box-sizing: border-box;
    width: 100%;
    padding: 7px 0;
    text-decoration: underline;
    text-align: center;
    color: white;
    font-size: 12px;
}

.gnb_icon.on {
    background: white;
    color: #C2722E;
}


header .gnb_icon {
    position: relative;
    height: 50px;
    background: none;
    color:white;
}



header .gnb_icon .logo {

    background: url(../img/babalogo.png) no-repeat center;
    background-size: cover;
    width: 180px;
    height: 16px;
    top: 15px;
    left: 30px;
    position: absolute;
}

header .gnb_icon .icons {
    top: 8px;
    right: 30px;
    position: absolute;

}

header .gnb_icon .icons a {
    float: left;
    margin-top: 9px;
   font-size: 15px;
    margin-right: 10px;
   
 

}



header .gnb {
    text-align: center;
    position: relative;
    z-index: 1;
}

header .gnb nav{
 
}

header .gnb .title {
    display: inline-block;
    text-align: center;
}
header .gnb_icon.on a {
    color:#C2722E;
}

header .gnb .title::after {
    content: '';
    clear: both;
    display: inline-block;
}

header .gnb .title>li {
    float: left;
    padding: 0 30px;
    font-weight: bold;
  
    
}

header .gnb .title>li>a {
    display: block;
    line-height: 50px;

}


header .gnb .title .sub {
    position: absolute;
    top: 50px;
    overflow: hidden;
    left: 0;
    
    width: 100%;
    transform: translateY(-100px);
    opacity: 0;
    visibility: hidden;
    z-index: 1;
    color: #C2722E;
    text-align: center;
   
}

header .gnb .title .sub .sub_list {
    float: left;
    display: inline-block;
    text-align: center;
    width:384px;
}
header .gnb .title .sub .sub_list li {
 margin: 20px;
 line-height: 1;
display: block;
text-align: left;

}
header .gnb .title .sub .sub_list li:hover {
text-decoration: underline;
}

header .gnb .title .sub .sub_list li h3{
   font-weight: 600;
   font-size: 25px;
}
header .gnb .title .sub .sub_list li:first-child{
   font-weight: bold;
}

header .gnb .title .sub.on {
    visibility: visible;
    transform: translateY(0);
    opacity: 1;
    background: #fff;
}


#women, #men{
 padding: 20px 20%;

}

#luxury .sub_list{overflow: hidden; width: 100%; margin: 50px 10%;}
#luxury .sub_list li{float: left; margin: 0px 8%;}

#beauty, #health ,#editorial{
    padding: 20px 45%;
}
#exhibition{font-weight: bold;}
.menu_bg {
    position: absolute;
    width: 100%;
    height: 600px;
    
    top: 50px;
    left: 0;
    visibility: hidden;
    opacity: 0;
}

.menu_bg.on {
    visibility: visible;
    opacity: 1;
    background: #fff;
}



.gnb::after {
    content: '';
    clear: both;
    display: block;
}





footer {
  
    margin-top: 100px;
  
    background: white;
    font-weight: 400;

}

footer .inner {
    width: 1600px;
    margin: 0 auto;
    overflow: hidden;
}

footer .inner>div {
    float: left;
    
    padding-right: 20px;
    box-sizing: border-box;
    width: 25%;
    color: #C2722E;
    font-size: 20px;
}
footer .inner>div h3{font-weight: 600;}
footer .inner .info .address {
    font-size: 20px;
    margin-bottom: 40px;
 
}

footer .inner .info .address address {
    font-weight: 400;
    font-size: 15px;
    line-height: 1.5;
    margin: 10px 0 20px;
}


footer .inner .info .follow .follow_wrap {
  
    overflow: hidden;
    margin-top: 10px;
}

footer .inner .info .follow .follow_wrap a i {
    display: block;
    float: left;
    margin-right: 20px;
    width: 40px;
    height: 40px;
    background-position: cover;
}
footer .inner .info .follow .follow_wrap a:nth-child(1) i{
    background: url(https://pc.babathe.com/_static/img/icon_face.png) no-repeat center;
}
footer .inner .info .follow .follow_wrap a:nth-child(2) i{
    background: url(https://pc.babathe.com/_static/img/bnt_apple_down.png) no-repeat center;
}
footer .inner .info .follow .follow_wrap a:nth-child(3) i{
    background: url(https://pc.babathe.com/_static/img/icon_insta.png) no-repeat center;
}
footer .inner .info .follow .follow_wrap a:nth-child(4) i{
    background: url(https://pc.babathe.com/_static/img/bnt_google_down.png) no-repeat center;
}
footer .inner .info .follow .follow_wrap a img {

    width: 100%;
    display: block;
    height: 100%;
}

footer .inner .policy a,
footer .inner .service a,
footer .inner .cs a {
  
    display: block;
}


footer .inner .policy a span,
footer .inner .cs a span,
footer .inner .service a span {
    display: block;
    font-size: 14px;
    text-align: left;
    margin-top: 18px;
}
.service h3{
    font-size: 25px;
}

.mark{
    position: absolute;
    right:0;
    background: url(https://pc.babathe.com/_static/img/qrCode.png) no-repeat center;
    background-position: cover;
    width: 100px;
    height: 100px;
}
.mark a{display: block; height: 100%;}

footer .footer_copy {
    color: rgba(255, 255, 255, 1);
    width: 100%;
    font-size: 13px;
    background: #C2722E;
    margin-top: 15vh;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    
}