.sc_visual {
    width: 100%;    
    position: relative;
}

.sc_visual img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.sc_visual .text_wrap {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    
    text-align: center;
}

.sc_visual .text_wrap h2 {
    font-size: 150px;
}

.sc_visual .text_wrap p {
    display: block;
    font-size: 30px;
    margin-top: 70px;
}


/* pagination */
.pagination {
    display: block;
    width: 100%;
    height: 94px;
    margin: 50px 0;
    position: relative;

}


.pagination .swiper-pagination {
    display: block;

}

.swiper-pagination.swiper-pagination-progressbar.swiper-pagination-horizontal {
    position: absolute;
    width: 70%;
    height: 1px;
    top: 0;
    left: 0;
    right: 0;
    height: 1px;
    bottom: 0;
    margin: auto;

}

:root .swiper-pagination.swiper-pagination-progressbar.swiper-pagination-horizontal {
    --swiper-theme-color: #C2722E;
}

.swiper-pagination-progressbar-fill {
    background-color: #C2722E;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: scale(0);
    transform-origin: left top;
}

.pagination .btn {
    color: #C2722E;
    top: 0;
    bottom: 0;
    height: 16px;
    margin: auto;
    z-index: 12;
    position: absolute;
    font-size: 14px;
    font-weight: bold;
}

.pagination .btn.prev {

    left: 60px;
}

.pagination .btn.next {

    right: 60px;
}

.pagination .btn.prev:hover,
.pagination .btn.next:hover {
    cursor: pointer;
}

:root .pagination.white .swiper-pagination.swiper-pagination-progressbar.swiper-pagination-horizontal {
    --swiper-theme-color: white;
}

.pagination.white .btn.prev,
.pagination.white .btn.next {
    color: white;

}

/* white slide , new arrival */

.white .swiper {
    margin: 0;
    padding: 0 50px;


}

.white .swiper-slide {
    width: 500px;
    height: 750px;
    color: white;
    text-align: center;
    overflow: hidden;
}

.white .swiper-slide .bg {
    width: 100%;
    height: calc(100% + 100px);
    object-fit: cover;
}

.white .swiper-slide .text_wrap {
    position: absolute;
    display: inline-block;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.white .swiper-slide .text_wrap span {
    display: block;
    font-size: 18px;
    margin-bottom: 20px;
}

.white .swiper-slide .text_wrap p {
    font-size: 80px;
    display: inline-block;
    line-height: 1;
    color: white;
}

.white .swiper-slide .btn_discover {
    position: absolute;
    bottom: 200px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 25px;
}

.title_txt {

    font-size: 176px;
    text-align: center;
    margin: 100px;
    font-family: 'Noto Serif Display';
}

.white .title_txt {
    color: #C2722E;
}


/* orange slide and new trend */
.orange .title_txt {
    color: white;
}


.orange {

    background-color: #C2722E;


}

.orange .title {
    color: #f5f5f5;

    text-align: center;
    padding: 100px 0;
}

.orange .title h2 {
    display: block;
    font-size: 120px;
    line-height: 120px;
    margin-bottom: 50px;
}

.orange .title h3 {
    font-size: 40px;
    line-height: 45px;
}





.orange .swiper {
    padding: 0 50px;
    overflow: hidden;
}

.orange .swiper-slide {
    text-align: center;
    width: 500px;
    height: 600px;
 
    background: #fff;
    padding: 30px;
    position: relative;
}

.orange .swiper-slide .text_wrap {
    padding: 30px 0 80px;
}

.orange .swiper-slide .text_wrap p {
 
    font-size: 60px;
}

.orange .swiper-slide .text_wrap span {
    display: block;
    font-size: 18px;
    margin-bottom: 20px;
}

.orange .swiper-slide .img_wrap {
    height: 300px;
    overflow: hidden;
}

.orange .swiper-slide .img_wrap img {
    width: 100%;


    height: calc(100% + 100px);
    object-fit: cover;
}

.orange .btn_discover {
    position: absolute;
    display: block;
    left: 50%;
    transform: translateX(-50%);
    bottom: 60px;
    font-size: 25px;
}

/* concept */

article .sc_concept {
    width: 100%;
}

.orange .sc_concept {

    background: #fff;

}

.sc_concept .cont_wrap {
    max-width: 1400px;
    margin: 0 auto;
    padding: 100px 50px;
    position: relative;
}

.sc_concept .cont_wrap::after {
    content: '';
    clear: both;
    display: block;
}

.sc_concept .cont_wrap .img_wrap {
    width: 50%;
    float: left;
    height: 100%;
    text-align: center;

}

.sc_concept .cont_wrap .text_wrap {
    color: #C2722E;
    overflow: hidden;
    text-align: left;
    padding-left: 100px;
    margin-top: 200px;

}
.sc_concept.perfume .cont_wrap .text_wrap {
 
    margin-top: 30px;

}

.sc_concept .cont_wrap .text_wrap h3 {
    font-size: 60px;
    font-weight: 600;
    margin-bottom: 60px;

}

.sc_concept .cont_wrap .text_wrap span {
    font-size: 20px;
    display: block;
    font-weight: 600;
    line-height:2;

}

.sc_concept .cont_wrap .text_wrap .brand {
    margin: 60px 0;
    font-weight: 400;
   
}


.sc_concept .cont_wrap .learn_more {

    width: 160px;
    color: rgba(255, 255, 255, 1);
    bottom: 200px;
    right: 50px;
    height: 160px;
    display: inline-block;
    position: absolute;
    font-size: 18px;
    text-align: center;
    background: #C2722E;
    border-radius: 100%;
    font-weight: bold;
    transition: .5s;

}

.sc_concept .cont_wrap .learn_more:hover {
    width: 190px;
    height: 190px;
    right: 35px;
    bottom: 185px;
}

.sc_concept .cont_wrap .learn_more .btn_learn {
    position: absolute;
    display: block;
    font-size: 18px;
    color: rgba(255, 255, 255, 1);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



/* lounge wear */

.exhibition h2,
.white.koy_beauty .title_wrap h2,
.white.new_bag .title_wrap h2 {
    text-align: center;
    font-size: 150px;
    color: #C2722E;
}

.exhibition p {
    display: block;
    color: #C2722E;
    font-size: 20px;
    text-align: center;
    margin: 0 auto;

}

.exhibition .img_wrap {
    width: 100%;
    height: 100%;
    margin-top: 70px;
}

.exhibition .img_wrap .bg {
    display: block;
    width: 100%;
    height: calc(100% + 100px)
}

.white.exhibition_area h3 {
    color: #C2722E;
    margin: 70px auto;
    font-size: 80px;
    text-align: center;



}

.swiper-slide:first-child {
    margin-left: 300px;
}

.towel .swiper-slide:first-child {
    margin-left: 0px;
}

.white.exhibition_area .text_wrap p {
    color: white
}



.new_brand {
    width: 100%;
    height: 110vh;
    background: #C2722E;
    position: relative;
    
}
.new_brand img{
    width: 100%;
    height: 100%;
    display: block;
}


.new_brand p {
    position: absolute;
    color: white;
    margin: 0 auto;
    font-size: 250px;
    text-align: center;
    left: 50px;
    bottom: 0px;

}

.white.koy_beauty .title_wrap h2{
  font-size: 200px;
    margin-left: 100px;
text-align: right;
}



.white.koy_beauty .title_wrap p,
.white.new_bag .title_wrap p,
.mens_style .title_wrap p {

    color: #C2722E;
    width: 90%;
    font-size: 25px;
    text-align: center;
    line-height: 1.5;
    margin: 0 auto;
    margin-bottom: 60px;
}

.white.koy_beauty .swiper .swiper-wrapper .swiper-slide .btn_discover {
    position: absolute;
    bottom: 100px;
}

.white.koy_beauty .swiper.slide01 .swiper-wrapper .swiper-slide,
.white.new_bag .swiper.slide01 .swiper-wrapper .swiper-slide {
    height: 543px;
    width: 815px;
    margin-top: 150px;
}
.white.koy_beauty .title_wrap p{
    margin-top: 80px;
}

.white.new_bag .swiper .btn_discover {
    bottom: 80px;
}


.mens_style .title_wrap {
    margin-bottom: 80px;


}

.mens_style .title_wrap h2 {
    font-size: 80px;
    text-align: center;
    color: #C2722E;
    margin-bottom: 20px;
}
.mens_style .title_wrap p{font-weight: 600;}
.mens_style .orange {
    height: 650px;
    padding: 90px 0;
}



.mens_style .orange .swiper-wrapper {
    height: 510px;

}

.mens_style .orange .swiper .swiper-wrapper .swiper-slide {
    position: relative;
    height: 477px;
    width: 652px;
    background: white;
    padding: 0;



}

.mens_style .orange .swiper .swiper-wrapper .text_wrap {
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: white;
}


.mens_style .orange .swiper .swiper-wrapper .swiper-slide .img_wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 586px;
    height: 420px;

}

.mens_style .orange .swiper .swiper-wrapper .swiper-slide .img_wrap img {
    display: block;

}





.mens_style .swiper-wrapper .swiper-slide .btn_discover {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 80px;
    color: white !important;
}



.best_brand {
    height: 937px;
    position: relative;
}

.best_brand .slide03 {
    height: 100%;
}

.best_brand .slide03 .swiper-wrapper {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 570px;
    top: 50%;
    transform: translateY(-50%);
    
}
@keyframes flow {
    from{transform: translateX(0%)}
    to{transform: translateX(-300%)}
}

.best_brand .slide03 .swiper-wrapper .swiper-slide {
    float: left;
    width: 466px;
    height: 570px;
   
    animation: flow 20s infinite;
}

.best_brand .slide03 .swiper-wrapper .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    

}


.best_brand .text_wrap {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #C2722E;
    z-index: 2;
}



.best_brand .text_wrap p {
    font-size: 22px;
    margin-bottom: 20px;

}

.best_brand .text_wrap h2 {
    font-size: 100px;
    margin-bottom: 20px;

}

.best_brand a .btn_discover {
    position: absolute;
    display: block;
    font-size: 30px;
    color: #C2722E;
    font-weight: bold;
    left: 50%;
    transform: translateX(-50%);
}

.editorial {
    position: relative;
    width: 100%;
    height: 1340px;
    background: #C2722E;
}

.editorial .title_wrap {

    text-align: center;
    color: rgba(255, 255, 255, 1);
}

.editorial .title_wrap h2 {
    padding-top: 80px;
    font-size: 100px;
    line-height: 2;
}

.editorial .title_wrap p {

    font-size: 25px;
    width: 100%;
    line-height: 2;
}

.editorial .card_wrap {
    position: absolute;
    width: 655.89px;
    height: 721.48px;
    background: white;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 80px;
}

.editorial .editorial_wrap .img_wrap {
    position: absolute;
    top: 25px;
    left: 25px;
    display: block;
    width: 599.67px;
    margin: auto;
    height: 660.58px;
}

.editorial .editorial_wrap .img_wrap img {
    display: block;
    width: 599.67px;
    height: 760.58px;
    margin: auto;

    margin-top: 30px;
}

.editorial .editorial_wrap .text_wrap {
    color: #C2722E;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-weight: bold;
}

.editorial .editorial_wrap .text_wrap p {
    display: block;
    font-size: 2.4vh;


}

.editorial .editorial_wrap .text_wrap strong {
    display: block;
    font-size: 6.5vh;
    margin-top: 3vh;

    width: 63vh;

}

.editorial .editorial_wrap .text_wrap .btn_discover {
    display: block;
    font-size: 3vh;
    text-align: center;
    margin-top: 12vh;


}

.mailing {
 
    position: relative;
    overflow: hidden;
}




.mailing .cont_wrap {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: rgba(255, 255, 255, 1);
}

.mailing .cont_wrap .img_wrap {
    height: 100vh;
    width: 110vw;
}

.mailing .cont_wrap .img_wrap img {
    display: block;
    height: calc(110vh + 100px);


}

.mailing form{width: 100%;}

.mailing .cont_wrap input {
    display: block;
    margin-top: 30px;
    width: 500px;
    margin-top: 50px;
    margin-bottom: 20px;
    background: none;
    padding: 15px;
    border: 2px solid white;
    border-radius: 5px;
    font-family: 'Noto Serif Display';
    font-weight: 600;


}

.mailing .cont_wrap .btn_join {

    color: rgba(255, 255, 255, 0.8);
    background: transparent;
    outline-color: rgba(255, 255, 255, 0.8);

    font-size:15px;
    line-height: 2;
    width: 83px;
    height: 42px;
    margin: 0 auto;
    box-shadow: 0px 1px 5px 0px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 3px 1px -2px rgb(0 0 0 / 12%);
}