.sc_visual {
    width: 100%;
    height: 100vh;
}

.sc_visual img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sc_visual .text_wrap {
    width: 100%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.sc_visual .text_wrap h2 {
    font-size: 120px;
}

.sc_visual .text_wrap p {
    display: block;
    font-size: 50px;
    margin-top: 70px;
}





/* lounge wear */

.lounge_wear h2,
.white.w_casual .title_wrap h2,
.white.bedding .title_wrap h2 {
    text-align: center;
    font-size: 150px;
    color: rgba(13, 51, 22, 1);
}

.lounge_wear p {
    display: block;
    color: rgba(13, 51, 22, 1);
    font-size: 20px;
    text-align: center;
    margin: 0 auto;

}

.lounge_wear .img_wrap {
    width: 100%;
    height: 100%;
    margin-top: 70px;
}

.lounge_wear .img_wrap .bg {
    display: block;
    width: 100%;
    height: calc(100% + 100px)
}

.white.lounge h3 {
    color: rgba(13, 51, 22, 1);
    margin: 70px auto;
    font-size: 80px;
    text-align: center;



}

.white.lounge .text_wrap p {
    color: white
}



.idiom {
    width: 100%;
    height: 100vh;
    background: rgb(7, 30, 12);
    position: relative;
    margin-bottom: 100px;
}



.idiom p {
    position: absolute;
    color: white;
    margin: 0 auto;
    font-size: 40px;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

}





.white.w_casual .title_wrap p,
.white.bedding .title_wrap p,
.takei_basic .title_wrap p {

    color: rgba(13, 51, 22, 1);
    width: 90%;
    font-size: 25px;
    text-align: center;
    line-height: 1.5;
    margin: 0 auto;
    margin-bottom: 60px;
}

.white.w_casual .swiper .swiper-wrapper .swiper-slide .btn_discover {
    position: absolute;
    bottom: 100px;
}

.white.w_casual .swiper.slide01 .swiper-wrapper .swiper-slide,
.white.bedding .swiper.slide01 .swiper-wrapper .swiper-slide {
    height: 543px;
    width: 815px;
    margin-top: 150px;
}


.white.bedding .swiper .btn_discover {
    bottom: 80px;
}


.takei_basic .title_wrap {
    margin-bottom: 80px;


}

.takei_basic .title_wrap h2 {
    font-size: 80px;
    text-align: center;
    color: rgba(13, 51, 22, 1);
}

.takei_basic .green {
    height: 650px;
    padding: 90px 0;
}



.takei_basic .green .swiper-wrapper {
    height: 510px;

}

.takei_basic .green .swiper .swiper-wrapper .swiper-slide {
    position: relative;
    height: 477px;
    width: 652px;
    background: white;
    padding: 0;



}

.takei_basic .green .swiper .swiper-wrapper .text_wrap {
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: white;
}


.takei_basic .green .swiper .swiper-wrapper .swiper-slide .img_wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 586px;
    height: 420px;

}

.takei_basic .green .swiper .swiper-wrapper .swiper-slide .img_wrap img {
    width: 586px;
    height: 520px;
}





.takei_basic .swiper-wrapper .swiper-slide .btn_discover {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 80px;
    color: white !important;
}



.towel{
    height: 937px;
    position: relative;
}
.towel .slide03{
   height: 100%;
}

.towel .slide03 .swiper-wrapper {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 600px;
    top: 50%;
    transform: translateY(-50%);
}

.towel .slide03 .swiper-wrapper .swiper-slide {
    float: left;
    width: 600px;
    height: 600px;
}

.towel .slide03 .swiper-wrapper .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;

}


.towel .text_wrap {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: rgba(13, 51, 22, 1);
    z-index: 2;
}



.towel .text_wrap p {
    font-size: 22px;
    margin-bottom: 20px;

}

.towel .text_wrap h2 {
    font-size: 150px;
    margin-bottom: 20px;

}

.towel a .btn_discover {
    position: absolute;
    display: block;
    font-size: 30px;
    color: rgba(13, 51, 22, 1);
    font-weight: bold;
    left: 50%;
    transform: translateX(-50%);
}

.journal {
    position: relative;
    width: 100%;
    height: 1340px;
    background: rgba(13, 51, 22, 1);
}

.journal .title_wrap {

    text-align: center;
    color: rgba(255, 255, 255, 1);
}

.journal .title_wrap h2 {
    padding-top: 80px;
    font-size: 100px;
    line-height: 2;
}

.journal .title_wrap p {

    font-size: 25px;
    width: 100%;
    line-height: 2;
}

.journal .card_wrap {
    position: absolute;
    width: 655.89px;
    height: 721.48px;
    background: white;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 80px;
}

.journal .journal_wrap .img_wrap {
    display: block;
    width: 599.67px;
    margin: auto;
    height: 660.58px;
    margin-top: 30px;
}

.journal .journal_wrap .img_wrap img {
    display: block;
    width: 599.67px;
    height: 760.58px;
    margin: auto;

    margin-top: 30px;
}

.journal .journal_wrap .text_wrap {
    color: rgba(13, 51, 22, 1);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-weight: bold;
}

.journal .journal_wrap .text_wrap p {
    display: block;
    font-size: 2.4vh;


}

.journal .journal_wrap .text_wrap strong {
    display: block;
    font-size: 6.5vh;
    margin-top: 3vh;

    width: 63vh;

}

.journal .journal_wrap .text_wrap .btn_discover {
    display: block;
    font-size: 3vh;
    text-align: center;
    margin-top: 12vh;


}

.mailing {
    margin-top: 10vh;
    position: relative;
    overflow: hidden;
}

.mailing .mailing_wrap {
    height: 110vh;
    width: 110vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url(../img/footer_image.webp);
}

.mailing .mailing_wrap .cont_wrap {
    position: absolute;
    width: 691px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: rgba(255, 255, 255, 1);
}

.mailing .mailing_wrap .cont_wrap span {
    display: block;
    font-size: 2.4vh;
}

.mailing .mailing_wrap .cont_wrap h2 {
    font-size: 9.5vh;
    margin: 1.5vh 0;
}

.mailing .mailing_wrap .cont_wrap input {
    display: block;
    margin-top: 3vh;
    width: 100%;
    margin-top: 16px;
    margin-bottom: 8px;
    background: none;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 1px solid darkgray;
    border-radius: 5px;


}

.mailing .mailing_wrap .cont_wrap .btn_join {

    color: rgba(255, 255, 255, 0.8);
    background: transparent;
    outline-color: rgba(255, 255, 255, 0.8);

    font-size: 0.9375rem;
    line-height: 3;
    width: 83px;
    height: 42px;
    margin: 0 auto;
    box-shadow: 0px 1px 5px 0px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 3px 1px -2px rgb(0 0 0 / 12%);
}